{% extends "welcomepage.html" %}
{% block head %}
<!--Link to registerpage.css stylesheet whose styles will override certain styles in welcomepage.css but maintain the navbar and its styling and will allow for custom styling of password validation elements and logic-->
<link rel="stylesheet" href="{{url_for('static', filename='css/registerpage.css')}}">
<script>
    // Function to validate user's password so that they are not allowed to set a weak password
    function validatePassword() {
        // Get the password input field
        var password = document.getElementById("{{ changePasswordForm.newPassword.id }}");
        // Get the strength criteria elements
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var special  = document.getElementById("special")
        var length = document.getElementById("length");

        // Show message on how to set password and criteria elements when password field is clicked
        password.addEventListener("click", function() {
            document.getElementById("message").style.display = "block";
        });

        // Hide message when focus is lost from password field
        password.addEventListener("blur", function() {
            document.getElementById("message").style.display = "none";
        });

        // When the user starts to type something inside the password field, validate password strength on keyup event
        password.onkeyup = function() {
            // Validate if there are lowercase letters and if so add to valid class so criteria appears fulfilled, if not add to invalid class to show criteria as unfuflilled
            var lowerCaseLetters = /[a-z]/g;
            if (password.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate if there are captial letters and if so add to valid class so criteria appears fulfilled, if not add to invalid class to show criteria as unfuflilled
            var upperCaseLetters = /[A-Z]/g;
            if (password.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate if there are numbers and if so add to valid class so criteria appears fulfilled, if not add to invalid class to show criteria as unfuflilled
            var numbers = /[0-9]/g;
            if (password.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate if there are lowercase letters and if so add to valid class so criteria appears fulfilled, if not add to invalid class to show criteria as unfuflilled
            var specialCharacters = /[@$!%*&]/g;
            if (password.value.match(specialCharacters)) {
                special.classList.remove("invalid");
                special.classList.add("valid");
            } else {
                special.classList.remove("valid");
                special.classList.add("invalid");
            }

            // Validate length and if so add to valid class so criteria appears fulfilled, if not add to invalid class to show criteria as unfuflilled
            if (password.value.length >= 4 && password.value.length <= 15)  {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    }
    
    // Function to add event listener to password field that will call validatePassword when the field is clicked
    function addEventListenerToPasswordField() {
        var passwordField = document.querySelector("#{{ changePasswordForm.newPassword.id }}");
        passwordField.addEventListener("click", validatePassword);
    }
</script>
{% endblock %}
<!--Call event listener function when body of page has fully loaded-->
{% block load%} onload="addEventListenerToPasswordField()" {% endblock%}
{%block content%}
    <h3>Change your password</h3>
    <!--Create a HTML form element to display changePassword form fields and when POST request made send data to changePassword-->
    <form action="/changePassword" method="POST">
        {{changePasswordForm.hidden_tag()}}
        <p>{{changePasswordForm.username.label}}</p>
        <p>{{changePasswordForm.username()}}</p>
        <!--If there are errors in the form display them on page-->
        {% if changePasswordForm.errors %}
            <ul>
            {% for field, errors in changePasswordForm.errors.items() %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        <p>{{changePasswordForm.newPassword.label}}</p>
        <span style="font-size:10px;color:grey;">(double-click box)</span>
        <p>{{changePasswordForm.newPassword()}}</p>
        <!--Message box and criteria elements to display when focus is on password field-->
        <div id="message">
            <h3>Your Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Between <b>4-15 characters</b></p>
                <p id="special" class="invalid">A special character from [@$!%*&]</p>
        </div>
        <p>{{changePasswordForm.confirmPassword.label}}</p>
        <p>{{changePasswordForm.confirmPassword()}}</p>
        <p>{{changePasswordForm.submit()}}</p>
{% endblock %}