{% extends "welcomepage.html" %}
{% block head %}
<!--Link to bookinfo.css stylesheet whose styles will override certain styles in welcomepage.css but maintain the navbar and its styling-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bookinfo.css')}}">
{% endblock %}
{%block content%}
    {% if readerReviews%}
        <!--If the reader has any reviews display the book cover of the book they reviewed and their review-->
        {% for review in readerReviews%}
            <div style="display:block;float:left">
                <div style="display:inline-block">
                    <a href="{{url_for('bookInfo', bookID=review[3])}}"><img src="{{review[4]}}" alt="{{review[3]}}" style="width: 200px; height: 300px;"></a>
                </div>
                <div style="display:inline-block;margin:auto;">
                    <p>{{review[2]}}</p>
                    <p>{{review[0]}}</p>
                    <p>Star rating:</p>
                    {% for star in range(review[1]) %}
                        <i class="fa-solid fa-star" style="color:#fcba03"></i>
                    {% endfor %}
                    {% for star in range(5 - review[1]) %}
                        <i class="fa-solid fa-star" style="color:grey;"></i>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>You currently have no reviews.</p>
    {% endif %}
{% endblock %}