body {
    margin: 0;
 }
       
#message {
    display:none;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 5px;
}
  
#message p {
    padding: 5px 15px;
    font-size: 12px;
}

.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -35px;
    content: "✓";
}

.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}